<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="/assets/img/oracle.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/postgresql.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/mongodb.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/python.webp" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/pytorch.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/vuejs.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/angular-logo-modified.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/react.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/html.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/java.png" height="100" width="250" alt="" />
		</div>

    <div class="slide">
			<img src="/assets/img/oracle.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/postgresql.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/mongodb.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/python.webp" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/pytorch.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/vuejs.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/angular-logo-modified.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/react.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/html.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/img/java.png" height="100" width="250" alt="" />
		</div>

	</div>
</div>