<div class="container">
    <!-- <div class="roundedBox"></div> -->

    <div class="card-category-5">
      <ul class="all-pr-cards">
          
          <li>
              <div class="per-card-2">
                  <div class="card-image">
                      <ul>
                          <li><img src="/assets/img/adrien.png"/></li>
                          <li>
                              <div class="per-name">Adrien Rateau</div>
                              <div class="per-position">Architechte et Développeur d'application</div>
                              <a class="card-btn" title="Connect">
                                  <span></span>
                              </a>
                          </li>
                      </ul>                          
                  </div>

                  <div class="card-content">
                      <div class="card-text">
                          <span>A la suite de plusieurs années d'expérience en informatique, je viens d'obtenir un master en architecture et développement d'applications, spécialisé en IA, après une formation enrichissante basée sur des projets et une alternance de trois ans en entreprise.</span>
                        </div>

                      <div class="social-icons">
                          <i class="fab fa-linkedin-in" title="LinkedIn"></i>
                          <i class="fab fa-twitter" title="Twitter"></i>
                          <i class="fab fa-facebook-f" title="Facebook"></i>
                          <i class="fab fa-whatsapp" title="WhatsApp"></i>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
  </div>

</div>