<div class="container">
    <div class="roundedBox">Qui je suis ?</div>


    <div class="card-category-5">
      <ul class="all-pr-cards">
          
          <li>
              <div class="per-card-2">
                  <div class="card-image">
                      <ul>
                          <li><img src="/assets/img/adrien.png"/></li>
                          <li>
                              <div class="per-name">Adrien Rateau</div>
                              <div class="per-position">Architechte et Développeur d'application</div>
                              <a class="card-btn" title="Connect">
                                  <span></span>
                              </a>
                          </li>
                      </ul>                          
                  </div>

                  <div class="card-content">
                      <div class="card-text">
                          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                      </div>

                      <div class="social-icons">
                          <i class="fab fa-linkedin-in" title="LinkedIn"></i>
                          <i class="fab fa-twitter" title="Twitter"></i>
                          <i class="fab fa-facebook-f" title="Facebook"></i>
                          <i class="fab fa-whatsapp" title="WhatsApp"></i>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
  </div>

</div>